%h1 Qué es Tico
%p Tico es un sistema de resolución y seguimiento de diferencias para dar soporte a los contratos de mandato de los colaboradores de alectrico.
%p Si Ud. es colaborador de alectrico puede dejar acá sus reclamos, los que serán vistos y resueltos por personal técnico de alectrico.

