.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Número de Ticket
        %th Asunto
        %th Estado
        %th Técnico
    %tbody
      - tickets.each do |ticket|
        %tr
          %td= link_to ticket.id, ticket_path(ticket)
          %td= ticket.asunto
          %td= ticket.status
          %td
            = ticket.tecnico.email
